@model IEnumerable<JTN.DVDCentral.BL.Models.Customer>

@{
    ViewData["Title"] = ViewBag.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p class="ps-2">
    <a class="btn btn-sm btn-primary" asp-action="Create">Create New</a>
</p>
<table id="customers" class="table data-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                <a class="btn btn-sm btn-primary" asp-route-id="@item.Id" asp-action="Edit">Edit</a>
                <a class="btn btn-sm btn-primary" asp-route-id="@item.Id" asp-action="Details">Details</a>
                <a class="btn btn-sm btn-primary" asp-route-id="@item.Id" asp-action="Delete">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script type="text/javascript" class="init">
    $.noConflict();
    jQuery(document).ready(function ($){
        $('#customers').DataTable({
            "lengthMenu":[[5, 10, 25, 30, -1], [5, 10, 25, 30, "All"]]
        });
    });
    
</script>
