@model JTN.DVDCentral.BL.Models.Movie

@{
    ViewData["Title"] = ViewBag.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="ps-2">
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirectorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirectorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RatingDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RatingDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FormatDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FormatDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>
        <dd class = "col-sm-10">
            <div class="form-group">
                <img class="imagepropmed" alt="@Model.Description" src="~/images/@Model.ImagePath" id="movieimage" onclick="on('/images/@Model.ImagePath');"/>
                
            </div>
        </dd>
    </dl>
</div>
<div class="ps-2">
    <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id=@Model.Id>Edit</a>
    <input class="btn btn-primary btn-sm" type="button" onclick="AddToCart(@Model.Id)" value="Add To Cart" />
    <a class="btn btn-sm btn-primary" asp-action="Index">Back to List</a>
</div>
